<nav class="navbar navbar-light bg-dark">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand text-white" routerLink="/" >
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            </a>
        </div>
        <ul class="navbar-nav nav d-flex flex-row">
            <li class="nav-item">
                <a routerLink="/" class="nav-link btn btn-danger p-2 text-white">HOME</a>
            </li>
            <li class="nav-item">
                <a routerLink="/addtasks" class="nav-link btn btn-primary ms-3 p-2 text-white">ADD TASK</a>
            </li>
            <li class="nav-item ">
                <a routerLink="/completedtasks"  class="nav-link btn btn-primary p-2 ms-3 text-white">COMPLETED TASK</a>
            </li>
        </ul>
    </div>
  </nav>